/* ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ СТРАНИЦ */
@import "../../app/styles/reset";
@import "../../app/styles/main";
@import "../../app/styles/common";
@import "../../app/styles/sidebar";
@import "../../app/styles/calc";

/* СТИЛИ СТРАНИЦЫ */

.xo-steps__complete {
  & li:last-child span:first-child {
    box-sizing: border-box;
    color: var(--color-bg);
    background-color: var(--color-accent);
    font-weight: 600;

    &:before {
      content: "";
      position: absolute;
      width: calc(100% - 40px);
      height: 2px;
      background-color: var(--color-accent);
      left: 40px;
      z-index: -10;
    }
  }
}

.xo-calc__estimation-stability {
  &-ready {
    margin-bottom: 30px;
  }
  & > .xo-calc__findings-header {
    max-width: 373px;
    margin-bottom: 40px;
  }

  &-btns {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    & button {
      display: flex;
      align-items: center;
    }

    & span {
      margin-left: 10px;
    }
  }
}
