@charset "UTF-8";
/* ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ СТРАНИЦ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

:root {
  /* TYPOGRAPHY */
  --font-size: 18px;
  /* COLORS */
  --color-primary: #282828;
  --color-primary-gray: #28282850;
  --color-secondary: #878787;
  --color-accent: #4472c4;
  --color-add-content: #198754;
  --color-del: #dc3545;
  --color-bg: #fff;
  --color-border: #cecece;
  --color-bg-table: #fbfbfb;
  --color-bg-td: #f2f2f2;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  outline: none;
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-bg);
  font-family: "Manrope", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

main.xo-main {
  padding: 30px 20px 30px 152px;
}

.xo-text__title {
  font: 700 36px/1 "Manrope", sans-serif;
  text-transform: uppercase;
  margin: 10px 0 36px;
}
.xo-text__subtitle {
  font: 500 24px/1 "Manrope", sans-serif;
  text-transform: uppercase;
}
.xo-text__28-700 {
  font: 700 28px/1 "Manrope", sans-serif;
}
.xo-text__24-600 {
  font: 600 24px/1.4 "Manrope", sans-serif;
}
.xo-text__24-500 {
  font: 500 24px/1.4 "Manrope", sans-serif;
}
.xo-text__24-300 {
  font: 300 24px/1.4 "Manrope", sans-serif;
}
.xo-text__20-700 {
  font: 700 20px/1.4 "Manrope", sans-serif;
}
.xo-text__20-600 {
  font: 600 20px/1.4 "Manrope", sans-serif;
}
.xo-text__20-500 {
  font: 500 20px/1.4 "Manrope", sans-serif;
}
.xo-text__20-400 {
  font: 400 20px/1.4 "Manrope", sans-serif;
}
.xo-text__18-700 {
  font: 700 18px/1.4 "Manrope", sans-serif;
}
.xo-text__18-600 {
  font: 600 18px/1.4 "Manrope", sans-serif;
}
.xo-text__18-500 {
  font: 500 18px/1.4 "Manrope", sans-serif;
}
.xo-text__18-400 {
  font: 400 18px/1.4 "Manrope", sans-serif;
}
.xo-text__16-600 {
  font: 600 16px/1.4 "Manrope", sans-serif;
}
.xo-text__16-600--gray {
  font: 600 16px/1.4 "Manrope", sans-serif;
  color: var(--color-secondary);
}
.xo-text__16-500 {
  font: 500 16px/1.4 "Manrope", sans-serif;
}
.xo-text__16-400 {
  font: 500 16px/1.4 "Manrope", sans-serif;
}
.xo-text__14-600 {
  font: 600 14px/1.4 "Manrope", sans-serif;
}
.xo-text__14-400 {
  font: 400 14px/1.4 "Manrope", sans-serif;
}
.xo-text__12-400 {
  font: 400 14px/1.4 "Manrope", sans-serif;
}

.xo-btn {
  font-family: "Manrope", sans-serif;
  padding: 10px 18px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.xo-btn__accent-fill {
  border: 1px solid var(--color-accent);
  color: var(--color-bg);
  background-color: var(--color-accent);
}
.xo-btn__accent-clean {
  font-size: 14px;
}
.xo-btn__cancel-fill, .xo-btn__accent-clean {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background-color: var(--color-bg);
}
.xo-btn__cancel-fill-del {
  border: 1px solid var(--color-del);
  color: var(--color-del);
  background-color: var(--color-bg);
}
.xo-btn__cancel-clean {
  font-size: 14px;
  color: var(--color-accent);
  background-color: transparent;
  border: none;
}
.xo-btn__content-clean {
  border: 1px solid var(--color-add-content);
  color: var(--color-add-content);
  background-color: var(--color-bg);
}
.xo-btn__content-fill {
  color: var(--color-bg);
  background-color: var(--color-add-content);
  border: 1px solid var(--color-add-content);
}
.xo-btn__content-fill-inter {
  font-family: "Inter", sans-serif;
  color: var(--color-bg);
  background-color: var(--color-add-content);
  border: none;
}
.xo-btn__cross, .xo-btn__add {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
}
.xo-btn__cross {
  width: 24px;
}
.xo-btn__add {
  color: var(--color-add-content);
  font: 400 18px/1.4 "Manrope", sans-serif;
}
.xo-btn__status--clean {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: var(--color-bg);
}
.xo-btn__status--fill {
  color: var(--color-primary);
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
}

.xo-inputs__simple-input, .xo-inputs__calendar, .xo-inputs__simple-select {
  font: 500 16px/1.4 "Monrope", sans-serif;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--color-secondary);
}
.xo-inputs__calendar, .xo-inputs__simple-select {
  color: var(--color-secondary);
}
.xo-inputs__simple-input {
  color: var(--color-primary);
}
.xo-inputs__calendar::-webkit-calendar-picker-indicator {
  opacity: 0.5;
}
.xo-inputs__simple-select {
  background: url(../img/arrow-down-sm.svg) no-repeat;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-position: 93%;
}

.xo-link__back {
  font: 500 14px/1.4 "Inter", sans-serif;
  padding: 11px 16px;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
}
.xo-link__back span:first-child {
  display: inline-block;
  margin-right: 10px;
  transform: translateY(1px);
}
.xo-link__back-big {
  display: inline-block;
}

.xo-breadcrumbs__header li {
  display: inline;
  font-size: 16px;
  font-weight: 400;
}
.xo-breadcrumbs__header li + li::before {
  padding: 0 8px;
  font-size: 22px;
  color: var(--color-secondary);
  content: "›";
}
.xo-breadcrumbs__header li a {
  color: var(--color-accent);
  text-decoration-line: underline;
}

.xo-icons__three {
  white-space: nowrap;
}
.xo-icons__three span:first-child {
  display: inline-block;
  transform: translateY(-2px);
}
.xo-icons__three svg:first-child {
  width: 12px;
  height: 12px;
  margin-left: 12px;
}
.xo-icons__three svg:last-child {
  width: 16px;
  height: 16px;
  margin-left: 12px;
}
.xo-icons__two, .xo-icons__two--2 {
  white-space: nowrap;
}
.xo-icons__two span:first-child, .xo-icons__two--2 span:first-child {
  display: inline-block;
}
.xo-icons__two svg, .xo-icons__two--2 svg {
  width: 20px;
  height: 22px;
  margin-left: 12px;
}
.xo-icons__two span:first-child {
  transform: translateY(-3px);
}
.xo-icons__two--2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.xo-cb__simple {
  display: flex;
  align-items: center;
  gap: 10px;
}
.xo-cb__simple input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-bg);
  margin: 0;
  font: inherit;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-accent);
  border-radius: 3px;
  display: grid;
  place-content: center;
}
.xo-cb__simple input[type=checkbox]:before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 16px 16px var(--color-accent);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.xo-cb__simple input[type=checkbox]:checked:before {
  transform: scale(1);
}
.xo-cb__double {
  position: relative;
  display: block;
  width: 36px;
  height: 18px;
  cursor: pointer;
}
.xo-cb__double:before {
  content: "";
  position: relative;
  display: block;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 20px;
  background: var(--color-bg);
  border-radius: 12px;
  transition: background 0.2s ease;
  border: 1px solid var(--color-primary);
}
.xo-cb__double span {
  position: absolute;
  display: block;
  top: 4px;
  left: 6px;
  width: 14px;
  height: 13px;
  background: var(--color-bg);
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  transition: all 0.2s ease;
}
.xo-cb__tripple {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  width: 185px;
  z-index: 1;
}
.xo-cb__tripple input {
  visibility: hidden;
  position: absolute;
}
.xo-cb__tripple-lb {
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
}
.xo-cb__tripple-lb-off {
  left: -10px;
  top: 25px;
  width: 33%;
}
.xo-cb__tripple-lb-level {
  left: 25%;
  top: 25px;
  width: 33%;
}
.xo-cb__tripple-lb-max {
  right: -45px;
  top: 25px;
  width: 33%;
}
.xo-cb__tripple-slider {
  height: 2px;
  width: 100%;
  background-color: var(--color-accent);
  z-index: 2;
}
.xo-cb__tripple-slider:after {
  transition: left 0.2s linear 0s, right 0.2s linear 0s;
  content: "";
  position: absolute;
  top: 1px;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 25px solid blue;
}
.xo-cb__tripple-off:checked ~ .xo-cb__tripple-slider:after {
  left: -4px;
}
.xo-cb__tripple-level:checked ~ .xo-cb__tripple-slider:after {
  left: calc(50% - 5px);
}
.xo-cb__tripple-max:checked ~ .xo-cb__tripple-slider:after {
  left: calc(100% - 10px);
}
.xo-cb__tripple-off:checked + .xo-cb__tripple-lb-off, .xo-cb__tripple-level:checked + .xo-cb__tripple-lb-level, .xo-cb__tripple-max:checked + .xo-cb__tripple-lb-max {
  font-weight: 600;
}
.xo-cb__tripple span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-accent);
  position: absolute;
}
.xo-cb__tripple span:nth-of-type(2) {
  left: 93px;
}
.xo-cb__tripple span:last-child {
  right: 0;
}

#xo-cb-double:checked + .xo-cb__double:before {
  background: var(--color-accent);
}
#xo-cb-double:checked + .xo-cb__double span {
  transform: translateX(15px);
  border: none;
}

.xo-steps {
  margin-bottom: 40px;
}
.xo-steps > ul {
  display: flex;
  max-width: 900px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.xo-steps li {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.xo-steps li span:first-child {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 24px;
  border-radius: 50%;
  font-weight: 400;
}
.xo-steps li span:last-child {
  text-transform: uppercase;
  font-size: 18px;
}
.xo-steps li span:first-child {
  background-color: var(--color-accent);
  color: var(--color-bg);
}
.xo-steps li span:last-child {
  color: var(--color-accent);
}
.xo-steps li.active span:last-child {
  font-weight: 700;
}
.xo-steps li.inactive span:first-child {
  background-color: #cecece;
  color: var(--color-bg);
}
.xo-steps li.inactive span:not(:first-child) {
  color: #cecece;
}

.xo-tabs > input[type=radio] {
  display: none;
}
.xo-tabs > label {
  font-size: 28px;
  text-transform: uppercase;
  color: var(--color-secondary);
  font-weight: 300;
  cursor: pointer;
}
.xo-tabs > label:not(:last-of-type) {
  margin-right: 28px;
}

.xo-tab {
  display: none;
  margin-top: 30px;
}

#xo-tab1:checked ~ #xo-tab1-content,
#xo-tab2:checked ~ #xo-tab2-content,
#xo-tab3:checked ~ #xo-tab3-content {
  display: block;
}

.xo-tabs > input[type=radio]:checked + label {
  color: var(--color-primary);
  font-weight: 500;
}

.xo-collapse {
  margin: 10px 0;
}
.xo-collapse[open] > .xo-collapse__summary:before {
  transform: rotate(270deg);
}
.xo-collapse__summary {
  position: relative;
}
.xo-collapse__summary::marker {
  content: "";
}
.xo-collapse__summary:before {
  content: "";
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-secondary);
  border-radius: 2px;
  position: absolute;
  top: 3px;
  right: 3px;
  transform: rotate(90deg);
  transform-origin: 4px 50%;
  transition: 0.2s transform ease;
}
.xo-collapse__wrapper {
  position: relative;
}
.xo-collapse__wrapper button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--color-accent);
  font: 400 18px/1.4 "Mantrope", sans-serif;
  margin-right: 20px;
}

.xo-link-more {
  display: inline-block;
  font: 400 14px/1.4 "Mantrope", sans-serif;
  color: var(--color-accent);
}

.sidebar {
  position: absolute;
  width: 112px;
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
.sidebar__logo {
  margin-bottom: 106px;
  align-self: center;
}
.sidebar__services {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 226px;
}
.sidebar__service {
  position: relative;
}
.sidebar__service a {
  display: block;
  text-align: center;
  margin: 5px 0;
}
.sidebar__interfaces {
  align-self: center;
  margin-bottom: 21px;
}
.sidebar__slash {
  font-size: 24px;
  color: #fff;
  margin: 0 5px;
}

[data-path] {
  left: 3px;
  position: absolute;
  width: 7px;
  height: 100%;
  background-color: #fff;
}

.xo-calc__breadcrumbs {
  margin-bottom: 20px;
}
.xo-calc__title {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 30px;
}
.xo-calc__title h1 {
  margin: 0;
}
.xo-calc__link-back {
  display: inline-block;
  margin-bottom: 40px;
}
.xo-calc__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.xo-calc__header-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.xo-calc__header-title h1 {
  margin: 0;
  text-transform: uppercase;
}
.xo-calc__header-btns button:not(:last-child) {
  margin-right: 18px;
}
.xo-calc__wrapper {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.xo-calc__estimation {
  flex: 1;
}
.xo-calc__estimation-form {
  margin-bottom: 40px;
}
.xo-calc__estimation-th {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 15px 0;
  gap: 50px;
}
.xo-calc__estimation-table-rows {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 15px 0;
  gap: 50px;
}
.xo-calc__estimation-table-td {
  display: flex;
  align-items: center;
}
.xo-calc__estimation-table-td span:first-child {
  margin-right: 15px;
}
.xo-calc__estimation-inputs {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-bottom: 30px;
}
.xo-calc__estimation-inputs span {
  margin-right: 20px;
}
.xo-calc__estimation-inputs div {
  display: flex;
  align-items: center;
}
.xo-calc__estimation-btns {
  display: flex;
  align-items: center;
  gap: 36px;
}
.xo-calc__findings {
  flex-basis: 400px;
  align-self: flex-start;
  border-radius: 6px;
  border: 1px solid var(--color-secondary);
  padding: 20px 25px 30px 25px;
}
.xo-calc__findings-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}
.xo-calc__findings-row:last-child {
  border-bottom: 1px solid var(--color-secondary);
}
.xo-calc__findings-header {
  margin-bottom: 10px;
}
.xo-calc__findings-header-row {
  display: grid;
  grid-template-columns: 40% 60%;
}
.xo-calc__findings-header-row > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.xo-calc__findings-header-row:first-child {
  margin-bottom: 4px;
}
.xo-calc__findings-header-img {
  width: 20px;
  height: 20px;
}

.xo-tabs-br > input[type=radio] {
  display: none;
}
.xo-tabs-br > label {
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 500;
  cursor: pointer;
  padding: 8px 70px;
}

.xo-tab-br {
  display: none;
  margin-top: 40px;
}

#xo-tab-br1:checked ~ #xo-tab-br1-content,
#xo-tab-br2:checked ~ #xo-tab-br2-content {
  display: block;
}

.xo-tabs-br > input[type=radio]:checked + label {
  color: var(--color-accent);
  font-weight: 500;
  border-radius: 4px 4px 0px 0px;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}

.xo-tabs-br > input[type=radio]:not(:checked) + label {
  border-bottom: 1px solid #dee2e6;
}

.xo-calc__br > button {
  margin-bottom: 30px;
}
.xo-calc__br-form {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.xo-calc__br-table {
  max-width: 590px;
}
.xo-calc__br-table-th, .xo-calc__br-table-tr {
  display: grid;
  grid-template-columns: 10% 40% 30% 20%;
  padding: 5px 0;
}
.xo-calc__br-table-th {
  border-bottom: 1px solid #dee2e6;
}
.xo-calc__br-table-tr {
  border-bottom: 1px solid rgba(222, 226, 230, 0.5647058824);
}

/* СТИЛИ СТРАНИЦЫ */
.xo-calc__case {
  display: flex;
  flex-direction: column;
}
.xo-calc__case-isport {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  margin-right: 6px;
}
.xo-calc__case-head {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 25% auto;
  gap: 10px;
  grid-template-areas: "head1 head2" "head3 head4";
}
.xo-calc__case .case-head1 {
  grid-area: head1;
}
.xo-calc__case .case-head2 {
  grid-area: head2;
}
.xo-calc__case .case-head3 {
  grid-area: head3;
}
.xo-calc__case .case-head4 {
  grid-area: head4;
}
.xo-calc__case-summary {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 25% auto;
  gap: 10px;
  grid-template-areas: "summary1 summary2" "summary3 summary4" "   .     summary5";
}
.xo-calc__case .case-summary1 {
  grid-area: summary1;
}
.xo-calc__case .case-summary2 {
  grid-area: summary2;
}
.xo-calc__case .case-summary3 {
  grid-area: summary3;
}
.xo-calc__case .case-summary4 {
  grid-area: summary4;
}
.xo-calc__case .case-summary4 > span:not(:first-child) {
  display: block;
  padding-left: 5px;
}
.xo-calc__case .case-summary5 {
  grid-area: summary5;
}
.xo-calc__case .case-summary5 > span:not(:first-child) {
  display: block;
  padding-left: 5px;
}
.xo-calc__case-trim-calc {
  max-width: 1510px;
  margin-bottom: 66px;
}
.xo-calc__case-trim-calc > h4 {
  margin-bottom: 15px;
}
.xo-calc__case-trim-calc-fb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.xo-calc__case-trim-calc-wrapper {
  display: grid;
  grid-template-rows: 86px 86px 86px 86px;
  border: 1px solid var(--color-primary-gray);
  grid-template-areas: "trim1 trim1 trim1 trim2 trim2 trim2 trim3 trim3 trim3 trim5" "trim1 trim1 trim1 trim2 trim2 trim2 trim4 trim4 trim4 trim6" "trim7 trim7 trim9 trim11 trim11 trim13 trim15 trim16 trim16 trim18" "trim8 trim8 trim10 trim12 trim12 trim14 trim15 trim17 trim17 trim19";
}
.xo-calc__case-trim-calc-wrapper span {
  display: block;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc1,
.xo-calc__case-trim-calc-wrapper .case-trim-calc2,
.xo-calc__case-trim-calc-wrapper .case-trim-calc3,
.xo-calc__case-trim-calc-wrapper .case-trim-calc4,
.xo-calc__case-trim-calc-wrapper .case-trim-calc7,
.xo-calc__case-trim-calc-wrapper .case-trim-calc8,
.xo-calc__case-trim-calc-wrapper .case-trim-calc11,
.xo-calc__case-trim-calc-wrapper .case-trim-calc12,
.xo-calc__case-trim-calc-wrapper .case-trim-calc15,
.xo-calc__case-trim-calc-wrapper .case-trim-calc16,
.xo-calc__case-trim-calc-wrapper .case-trim-calc17 {
  background-color: var(--color-bg-td);
  border: 1px solid var(--color-primary-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc5,
.xo-calc__case-trim-calc-wrapper .case-trim-calc6,
.xo-calc__case-trim-calc-wrapper .case-trim-calc9,
.xo-calc__case-trim-calc-wrapper .case-trim-calc10,
.xo-calc__case-trim-calc-wrapper .case-trim-calc13,
.xo-calc__case-trim-calc-wrapper .case-trim-calc14,
.xo-calc__case-trim-calc-wrapper .case-trim-calc18,
.xo-calc__case-trim-calc-wrapper .case-trim-calc19 {
  border: 1px solid var(--color-primary-gray);
  display: grid;
  place-items: center;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc6 {
  background-color: #ffc7ce;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc1 {
  grid-area: trim1;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc2 {
  grid-area: trim2;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc3 {
  grid-area: trim3;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc4 {
  grid-area: trim4;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc5 {
  grid-area: trim5;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc6 {
  grid-area: trim6;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc7 {
  grid-area: trim7;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc8 {
  grid-area: trim8;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc9 {
  grid-area: trim9;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc10 {
  grid-area: trim10;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc11 {
  grid-area: trim11;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc12 {
  grid-area: trim12;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc13 {
  grid-area: trim13;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc14 {
  grid-area: trim14;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc15 {
  grid-area: trim15;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc16 {
  grid-area: trim16;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc17 {
  grid-area: trim17;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc18 {
  grid-area: trim18;
}
.xo-calc__case-trim-calc-wrapper .case-trim-calc19 {
  grid-area: trim19;
}
.xo-calc__case-intact {
  max-width: 1100px;
  margin-bottom: 66px;
}
.xo-calc__case-intact > h4 {
  margin-bottom: 15px;
}
.xo-calc__case-intact-wrapper {
  display: grid;
  grid-template-rows: 86px 86px 86px 86px 86px 57px;
  border: 1px solid var(--color-primary-gray);
  grid-template-areas: "intact1 intact1 intact1 intact6 intact6 intact10" "intact2 intact2 intact2 intact7 intact7 intact11" "intact3 intact3 intact3 intact8 intact8 intact12" "intact4 intact4 intact4 intact9 intact9 intact13" "intact5 intact5 intact5 intact5 intact5 intact14" "intact15 intact15 intact15 intact15 intact15 intact15";
}
.xo-calc__case-intact .case-intact1,
.xo-calc__case-intact .case-intact2,
.xo-calc__case-intact .case-intact3,
.xo-calc__case-intact .case-intact4,
.xo-calc__case-intact .case-intact5,
.xo-calc__case-intact .case-intact6,
.xo-calc__case-intact .case-intact7,
.xo-calc__case-intact .case-intact8,
.xo-calc__case-intact .case-intact9 {
  background-color: var(--color-bg-td);
  border: 1px solid var(--color-primary-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}
.xo-calc__case-intact .case-intact10,
.xo-calc__case-intact .case-intact11,
.xo-calc__case-intact .case-intact12,
.xo-calc__case-intact .case-intact13,
.xo-calc__case-intact .case-intact14,
.xo-calc__case-intact .case-intact15 {
  border: 1px solid var(--color-primary-gray);
  display: grid;
  place-items: center;
}
.xo-calc__case-intact .case-intact1 {
  grid-area: intact1;
}
.xo-calc__case-intact .case-intact2 {
  grid-area: intact2;
}
.xo-calc__case-intact .case-intact3 {
  grid-area: intact3;
}
.xo-calc__case-intact .case-intact4 {
  grid-area: intact4;
}
.xo-calc__case-intact .case-intact5 {
  grid-area: intact5;
}
.xo-calc__case-intact .case-intact6 {
  grid-area: intact6;
}
.xo-calc__case-intact .case-intact7 {
  grid-area: intact7;
}
.xo-calc__case-intact .case-intact8 {
  grid-area: intact8;
}
.xo-calc__case-intact .case-intact9 {
  grid-area: intact9;
}
.xo-calc__case-intact .case-intact10 {
  grid-area: intact10;
}
.xo-calc__case-intact .case-intact11 {
  grid-area: intact11;
}
.xo-calc__case-intact .case-intact12 {
  grid-area: intact12;
}
.xo-calc__case-intact .case-intact13 {
  grid-area: intact13;
}
.xo-calc__case-intact .case-intact14 {
  grid-area: intact14;
}
.xo-calc__case-intact .case-intact15 {
  grid-area: intact15;
}
.xo-calc__case-intact .case-intact15 > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.xo-calc__case-damage {
  max-width: 1100px;
  margin-bottom: 66px;
}
.xo-calc__case-damage > h4 {
  margin-bottom: 15px;
}
.xo-calc__case-damage-wrapper {
  display: grid;
  grid-template-rows: 86px 86px 57px;
  border: 1px solid var(--color-primary-gray);
  grid-template-areas: "damage1 damage1 damage1 damage3 damage3 damage4" "damage2 damage2 damage2 damage2 damage2 damage5" "damage6 damage6 damage6 damage6 damage6 damage6";
}
.xo-calc__case-damage .case-damage1,
.xo-calc__case-damage .case-damage2,
.xo-calc__case-damage .case-damage3 {
  background-color: var(--color-bg-td);
  border: 1px solid var(--color-primary-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}
.xo-calc__case-damage .case-damage4,
.xo-calc__case-damage .case-damage5,
.xo-calc__case-damage .case-damage6 {
  border: 1px solid var(--color-primary-gray);
  display: grid;
  place-items: center;
}
.xo-calc__case-damage .case-damage1 {
  grid-area: damage1;
}
.xo-calc__case-damage .case-damage2 {
  grid-area: damage2;
}
.xo-calc__case-damage .case-damage3 {
  grid-area: damage3;
}
.xo-calc__case-damage .case-damage4 {
  grid-area: damage4;
}
.xo-calc__case-damage .case-damage5 {
  grid-area: damage5;
}
.xo-calc__case-damage .case-damage6 {
  grid-area: damage6;
}
.xo-calc__case-damage .case-damage6 > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.xo-calc__case-levers {
  margin-bottom: 66px;
}
.xo-calc__case-levers > h4 {
  margin-bottom: 15px;
}
.xo-calc__case-levers-wrapper {
  border: 1px solid var(--color-primary-gray);
}
.xo-calc__case-levers-header, .xo-calc__case-levers-row {
  display: grid;
  grid-template-columns: 300px repeat(12, 1fr);
  grid-template-rows: 68px;
  font: 500 20px/1.4 "Manrope", sans-serif;
}
.xo-calc__case-levers-header > div:first-child, .xo-calc__case-levers-row > div:first-child {
  background-color: var(--color-bg-td);
}
.xo-calc__case-levers-header > div {
  display: grid;
  place-items: center;
}
.xo-calc__case-levers-header > div:first-child span {
  display: block;
}
.xo-calc__case-levers-header > div + div {
  font: 700 20px/1.4 "Manrope", sans-serif;
}
.xo-calc__case-levers-row > div:first-child {
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.xo-calc__case-levers-row > div:first-child span {
  display: block;
}
.xo-calc__case-levers-row > div + div {
  display: grid;
  place-items: center;
}
.xo-calc__case-levers-header {
  background-color: var(--color-bg-td);
}
.xo-calc__case-levers-td {
  border: 1px solid var(--color-primary-gray);
}
.xo-calc__case-criteria {
  margin-bottom: 66px;
}
.xo-calc__case-criteria > h4 {
  margin-bottom: 15px;
}
.xo-calc__case-criteria-wrapper {
  display: grid;
  grid-template-rows: 39px repeat(7, 1fr) repeat(4, 39px) 59px;
  grid-template-columns: 125px 125px 150px 150px 210px 210px 110px 1fr 1fr 1fr 142px;
  border: 1px solid var(--color-primary-gray);
  grid-template-areas: "criteria1 criteria1 criteria1 criteria1 criteria1 criteria1 criteria1 criteria2 criteria2 criteria2 criteria2 criteria5" "criteria1 criteria1 criteria1 criteria1 criteria1 criteria1 criteria1 criteria3 criteria3 criteria4 criteria4 criteria5" "criteria6 criteria6 criteria7 criteria7 criteria7 criteria7 criteria18 criteria28 criteria28 criteria38 criteria38 criteria48" "criteria6 criteria6 criteria8 criteria8 criteria8 criteria8 criteria19 criteria29 criteria29 criteria39 criteria39 criteria49" "criteria6 criteria6 criteria9 criteria9 criteria9 criteria9 criteria20 criteria30 criteria30 criteria40 criteria40 criteria50" "criteria6 criteria6 criteria10 criteria10 criteria11 criteria11 criteria21 criteria31 criteria31 criteria41 criteria41 criteria51" "criteria6 criteria6 criteria10 criteria10 criteria12 criteria12 criteria22 criteria32 criteria32 criteria42 criteria42 criteria52" "criteria6 criteria6 criteria10 criteria10 criteria13 criteria13 criteria23 criteria33 criteria33 criteria43 criteria43 criteria53" "criteria14 criteria14 criteria14 criteria14 criteria14 criteria14 criteria24 criteria34 criteria34 criteria44 criteria44 criteria54" "criteria15 criteria15 criteria15 criteria15 criteria15 criteria15 criteria25 criteria35 criteria35 criteria45 criteria45  criteria55" "criteria16 criteria16 criteria16 criteria16 criteria16 criteria16 criteria26 criteria36 criteria36 criteria46 criteria46 criteria56 " "criteria17 criteria17 criteria17 criteria17 criteria17 criteria17 criteria27 criteria37 criteria37 criteria47 criteria47 criteria57" "criteria58 criteria58 criteria58 criteria58 criteria58 criteria58 criteria58 criteria58 criteria58 criteria58 criteria58 criteria58 ";
}
.xo-calc__case-criteria .case-criteria7,
.xo-calc__case-criteria .case-criteria8,
.xo-calc__case-criteria .case-criteria9,
.xo-calc__case-criteria .case-criteria10,
.xo-calc__case-criteria .case-criteria11,
.xo-calc__case-criteria .case-criteria12,
.xo-calc__case-criteria .case-criteria13,
.xo-calc__case-criteria .case-criteria14,
.xo-calc__case-criteria .case-criteria15,
.xo-calc__case-criteria .case-criteria16,
.xo-calc__case-criteria .case-criteria17 {
  background-color: var(--color-bg-td);
  border: 1px solid var(--color-primary-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px 16px;
}
.xo-calc__case-criteria .case-criteria1,
.xo-calc__case-criteria .case-criteria2,
.xo-calc__case-criteria .case-criteria3,
.xo-calc__case-criteria .case-criteria4,
.xo-calc__case-criteria .case-criteria5,
.xo-calc__case-criteria .case-criteria6 {
  background-color: var(--color-bg-td);
  border: 1px solid var(--color-primary-gray);
  display: grid;
  place-items: center;
  padding: 2px 16px;
}
.xo-calc__case-criteria .case-criteria18,
.xo-calc__case-criteria .case-criteria19,
.xo-calc__case-criteria .case-criteria20,
.xo-calc__case-criteria .case-criteria21,
.xo-calc__case-criteria .case-criteria22,
.xo-calc__case-criteria .case-criteria23,
.xo-calc__case-criteria .case-criteria24,
.xo-calc__case-criteria .case-criteria25,
.xo-calc__case-criteria .case-criteria26,
.xo-calc__case-criteria .case-criteria27,
.xo-calc__case-criteria .case-criteria28,
.xo-calc__case-criteria .case-criteria29,
.xo-calc__case-criteria .case-criteria30,
.xo-calc__case-criteria .case-criteria31,
.xo-calc__case-criteria .case-criteria32,
.xo-calc__case-criteria .case-criteria33,
.xo-calc__case-criteria .case-criteria34,
.xo-calc__case-criteria .case-criteria35,
.xo-calc__case-criteria .case-criteria36,
.xo-calc__case-criteria .case-criteria37,
.xo-calc__case-criteria .case-criteria38,
.xo-calc__case-criteria .case-criteria39,
.xo-calc__case-criteria .case-criteria40,
.xo-calc__case-criteria .case-criteria41,
.xo-calc__case-criteria .case-criteria42,
.xo-calc__case-criteria .case-criteria43,
.xo-calc__case-criteria .case-criteria44,
.xo-calc__case-criteria .case-criteria45,
.xo-calc__case-criteria .case-criteria46,
.xo-calc__case-criteria .case-criteria47,
.xo-calc__case-criteria .case-criteria48,
.xo-calc__case-criteria .case-criteria49,
.xo-calc__case-criteria .case-criteria50,
.xo-calc__case-criteria .case-criteria51,
.xo-calc__case-criteria .case-criteria52,
.xo-calc__case-criteria .case-criteria53,
.xo-calc__case-criteria .case-criteria54,
.xo-calc__case-criteria .case-criteria55,
.xo-calc__case-criteria .case-criteria56,
.xo-calc__case-criteria .case-criteria57,
.xo-calc__case-criteria .case-criteria58 {
  border: 1px solid var(--color-primary-gray);
  display: grid;
  place-items: center;
}
.xo-calc__case-criteria .case-criteria1 {
  grid-area: criteria1;
}
.xo-calc__case-criteria .case-criteria2 {
  grid-area: criteria2;
}
.xo-calc__case-criteria .case-criteria3 {
  grid-area: criteria3;
}
.xo-calc__case-criteria .case-criteria4 {
  grid-area: criteria4;
}
.xo-calc__case-criteria .case-criteria5 {
  grid-area: criteria5;
}
.xo-calc__case-criteria .case-criteria6 {
  grid-area: criteria6;
  padding: 20px;
}
.xo-calc__case-criteria .case-criteria7 {
  grid-area: criteria7;
}
.xo-calc__case-criteria .case-criteria8 {
  grid-area: criteria8;
}
.xo-calc__case-criteria .case-criteria9 {
  grid-area: criteria9;
}
.xo-calc__case-criteria .case-criteria10 {
  grid-area: criteria10;
}
.xo-calc__case-criteria .case-criteria11 {
  grid-area: criteria11;
}
.xo-calc__case-criteria .case-criteria12 {
  grid-area: criteria12;
}
.xo-calc__case-criteria .case-criteria13 {
  grid-area: criteria13;
}
.xo-calc__case-criteria .case-criteria14 {
  grid-area: criteria14;
}
.xo-calc__case-criteria .case-criteria15 {
  grid-area: criteria15;
}
.xo-calc__case-criteria .case-criteria16 {
  grid-area: criteria16;
}
.xo-calc__case-criteria .case-criteria17 {
  grid-area: criteria17;
}
.xo-calc__case-criteria .case-criteria18 {
  grid-area: criteria18;
}
.xo-calc__case-criteria .case-criteria19 {
  grid-area: criteria19;
}
.xo-calc__case-criteria .case-criteria20 {
  grid-area: criteria20;
}
.xo-calc__case-criteria .case-criteria21 {
  grid-area: criteria21;
}
.xo-calc__case-criteria .case-criteria22 {
  grid-area: criteria22;
}
.xo-calc__case-criteria .case-criteria23 {
  grid-area: criteria23;
}
.xo-calc__case-criteria .case-criteria24 {
  grid-area: criteria24;
}
.xo-calc__case-criteria .case-criteria25 {
  grid-area: criteria25;
}
.xo-calc__case-criteria .case-criteria26 {
  grid-area: criteria26;
}
.xo-calc__case-criteria .case-criteria27 {
  grid-area: criteria27;
}
.xo-calc__case-criteria .case-criteria28 {
  grid-area: criteria28;
}
.xo-calc__case-criteria .case-criteria29 {
  grid-area: criteria29;
}
.xo-calc__case-criteria .case-criteria30 {
  grid-area: criteria30;
}
.xo-calc__case-criteria .case-criteria31 {
  grid-area: criteria31;
}
.xo-calc__case-criteria .case-criteria32 {
  grid-area: criteria32;
}
.xo-calc__case-criteria .case-criteria33 {
  grid-area: criteria33;
}
.xo-calc__case-criteria .case-criteria34 {
  grid-area: criteria34;
}
.xo-calc__case-criteria .case-criteria35 {
  grid-area: criteria35;
}
.xo-calc__case-criteria .case-criteria36 {
  grid-area: criteria36;
}
.xo-calc__case-criteria .case-criteria37 {
  grid-area: criteria37;
}
.xo-calc__case-criteria .case-criteria38 {
  grid-area: criteria38;
}
.xo-calc__case-criteria .case-criteria39 {
  grid-area: criteria39;
}
.xo-calc__case-criteria .case-criteria40 {
  grid-area: criteria40;
}
.xo-calc__case-criteria .case-criteria41 {
  grid-area: criteria41;
}
.xo-calc__case-criteria .case-criteria42 {
  grid-area: criteria42;
}
.xo-calc__case-criteria .case-criteria43 {
  grid-area: criteria43;
}
.xo-calc__case-criteria .case-criteria44 {
  grid-area: criteria44;
}
.xo-calc__case-criteria .case-criteria45 {
  grid-area: criteria45;
}
.xo-calc__case-criteria .case-criteria46 {
  grid-area: criteria46;
}
.xo-calc__case-criteria .case-criteria47 {
  grid-area: criteria47;
}
.xo-calc__case-criteria .case-criteria48 {
  grid-area: criteria48;
}
.xo-calc__case-criteria .case-criteria49 {
  grid-area: criteria49;
}
.xo-calc__case-criteria .case-criteria50 {
  grid-area: criteria50;
}
.xo-calc__case-criteria .case-criteria51 {
  grid-area: criteria51;
}
.xo-calc__case-criteria .case-criteria52 {
  grid-area: criteria52;
}
.xo-calc__case-criteria .case-criteria53 {
  grid-area: criteria53;
}
.xo-calc__case-criteria .case-criteria54 {
  grid-area: criteria54;
}
.xo-calc__case-criteria .case-criteria55 {
  grid-area: criteria55;
}
.xo-calc__case-criteria .case-criteria56 {
  grid-area: criteria56;
}
.xo-calc__case-criteria .case-criteria57 {
  grid-area: criteria57;
}
.xo-calc__case-criteria .case-criteria58 {
  grid-area: criteria58;
}
.xo-calc__case-criteria .case-criteria58 > div {
  display: flex;
  align-items: center;
  gap: 10px;
}