extends /shared/ui/layout

include /shared/mixins/svg/cross-bg

append styles
  link(rel= "stylesheet" href= "./styles.css")
append head
  title= 'Команда сервис расчётов'

block content
  .xo-calc__layouts-bg
    .xo-calc__inspection-wrapper
      .xo-calc__inspection-title
        h3.xo-text__24-600 Подробный просмотр
        .xo-calc__inspection-cancel
          +svg-cross-bg
      p.xo-text__20-400 Вид сверху
      .xo-calc__inspection-slider
        image(src='../img/ship12.png' alt='ship')
      p.xo-calc__inspection-footer.xo-text__20-400 Изображение 1 из 2
