extends /shared/ui/layout

include /shared/mixins/ui/breadcrumbs
include /shared/mixins/ui/link-back
include /shared/mixins/ui/arrow-left

append styles
  link(rel= "stylesheet" href= "./styles.css")
append head
  title= 'Просмотр случая нагрузки'

block content
  - var breadcrumbs = [{path: "*", caption: 'Сервис расчётов'}, {path: "*", caption: 'Рыболовное “Lobster”'}, {path: "*", caption: 'Расчет загрузки судна'}, {caption: 'Просмотр случая нагрузки'}];
  include /widgets/sidebar
  main.xo-main
    +breadcrumbs(breadcrumbs, 'xo-calc__breadcrumbs')
    +link-back('*', 'xo-calc__link-back')
      | Вернуться
    .xo-calc__title
      +arrow-left('*')
      h1.xo-text__title Просмотр Случая нагрузки
    section.xo-calc__case
      .xo-calc__case-head
        .case-head1.xo-text__18-700 Положение
        .case-head2
          span.xo-calc__case-isport
          | В порту
        .case-head3.xo-text__18-700 Случай нагрузки
        .case-head4 #[span(style={color: 'red', 'margin-right': '10px'}) !]Ожидает подтверждения
      .xo-calc__case-summary
        .case-summary1.xo-text__20-600 РАСЧЕТ ОСТОЙЧИВОСТИ  №44
        .case-summary2.xo-text__18-500 Описание
        .case-summary3
          span.xo-text__18-400 Случай нагрузки от
          |
          |
          span.xo-text__18-500 01.03.23 12.00
        .case-summary4
          span.xo-text__18-500 Грузы: 80%
          span.xo-text__16-400 Живая продукция в воде = 1.250 т/м3 в грузовых трюмах No.1 ... 4 Пр.Б+ЛБ.
          span.xo-text__16-400 Живая продукция = 0.80 т/м3 в морозильном отделении ДП / Freez R.(C)
          span.xo-text__16-400 Замороженная продукция = 0.50 т/м3 в рефрижераторных трюмах No.5 Пр.Б+ЛБ.
        .case-summary5
          span.xo-text__18-500 Грузы: 60%
          span.xo-text__16-400 Морская вода = 1.250 т/м3 в форпике
          span.xo-text__16-400 Дизельное топливо = 0.86 т/м3 в цистернах ДТ No.1 ... 3 Пр.Б+ЛБ.
          span.xo-text__16-400 Пресная вода = 1.00 т/м3 в цистернах ПВ Пр.Б+ЛБ.
          span.xo-text__16-400 Смазочное масло  = 0.90 т/м3 в цистернах СМ Пр.Б+ЛБ., HYD ЛБ.
      .xo-calc__case-table-name
      include /snippets/table/trim-calculation
      include /snippets/table/intact-stability
      include /snippets/table/damage-stability
      include /snippets/table/levers-calculation
      include /snippets/table/criteria
