extends /shared/ui/layout
include /shared/mixins/ui/breadcrumbs
include /shared/mixins/ui/link-back
include /shared/mixins/ui/arrow-left

append styles
  link(rel= "stylesheet" href= "./styles.css")
append head
  title= 'Просмотр случая нагрузки'

block content
  - var breadcrumbs = [{path: "*", caption: 'Сервис расчётов'}, {path: "*", caption: 'Рыболовное “Lobster”'}, {path: "*", caption: 'Расчет загрузки судна'}, {caption: 'Просмотр случая нагрузки'}];
  include /widgets/sidebar
  main.xo-main
    +breadcrumbs(breadcrumbs, 'xo-calc__breadcrumbs')
    +link-back('*', 'xo-calc__link-back')
      | Вернуться
    .xo-calc__title
      +arrow-left('*')
      h1.xo-text__title Просмотр Случая нагрузки
