/* ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ СТРАНИЦ */
@import "../app/styles/reset";
@import "../app/styles/main";
@import "../app/styles/common";

/* СТИЛИ СТРАНИЦЫ */
.xo-layouts {
  & h1 {
    font:
      700 42px/1.4 "Monrope",
      sans-serif;
    margin-bottom: 24px;
  }

  & h2 {
    font:
      700 32px/1.4 "Monrope",
      sans-serif;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  &__typography {
    margin-bottom: 20px;

    &-items {
      display: flex;
      align-items: center;
      gap: 50px;
      flex-wrap: wrap;

      span {
        margin: 0;
      }
    }
  }

  &__pages {
    margin-bottom: 20px;
  }

  &__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    & > a {
      color: var(--color-bg);
      font-weight: 500;
      background-color: var(--color-accent);
      padding: 20px;
      border-radius: 4px;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__buttons,
  &__inputs,
  &__anchors,
  &__icons,
  &__cbs {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  &__steps,
  &__tabs,
  &__collapse {
    max-width: 900px;
    margin-bottom: 50px;
  }
}

.xo-steps__layouts {
  & li.active span:first-child {
    box-sizing: border-box;
    border: 2px solid blue;
    color: var(--color-accent);
    background-color: var(--color-bg);
    font-weight: 600;

    &:before {
      content: "";
      position: absolute;
      width: calc(100% - 40px);
      height: 2px;
      background-color: var(--color-accent);
      left: 40px;
      z-index: -10;
    }

    &:after {
      content: "";
      position: absolute;
      left: calc(100% / 2);
      height: 2px;
      background-color: #cecece;
      right: 0;
      z-index: -10;
    }
  }
}
