mixin svg-analitics()
  svg(width="28" height="32" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
    <path d="M5.38462 32H0V19.2H5.38462V32ZM20.4615 32H15.0769V12.8H20.4615V32ZM28 32H22.6154V5.33333H28V32ZM12.9231 32H7.53846V0H12.9231V32Z" fill="white"/>
          