mixin svg-analytics-dashboard()
  svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
    <path d="M18.2518 51.818H10.9092V34.3635H18.2518V51.818ZM38.8113 51.818H31.4686V25.6362H38.8113V51.818ZM49.091 51.818H41.7483V15.4544H49.091V51.818ZM28.5316 51.818H21.1889V8.18164H28.5316V51.818Z" fill="#4472C4"/>
          