mixin svg-arrow-down-sm()
  svg(width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
    <path id="Vector" d="M14.5594 2.55938L8.60162 8.55938C8.26881 8.85469 7.88443 9 7.50006 9C7.11568 9 6.73224 8.85352 6.43927 8.56055L0.481463 2.56055C0.0105753 2.13281 -0.117881 1.48594 0.114338 0.928125C0.346556 0.370313 0.893963 0 1.50006 0H13.4579C14.0644 0 14.6119 0.364734 14.8444 0.925781C15.0769 1.48683 14.9907 2.13281 14.5594 2.55938Z" fill="#878787"/>
          