mixin svg-download()
  svg(width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
    <path d="M7.05859 15.4414C7.17969 15.5625 7.33984 15.625 7.5 15.625C7.66016 15.625 7.81984 15.564 7.9418 15.4419L13.5668 9.81687C13.8109 9.57273 13.8109 9.17703 13.5668 8.93328C13.3227 8.68953 12.927 8.68914 12.6832 8.93328L8.125 13.4922V1.875C8.125 1.52969 7.84375 1.25 7.5 1.25C7.15625 1.25 6.875 1.52969 6.875 1.875V13.4922L2.3168 8.93359C2.07266 8.68945 1.67695 8.68945 1.4332 8.93359C1.18945 9.17773 1.18906 9.57344 1.4332 9.81719L7.05859 15.4414ZM14.375 17.5H0.625C0.279531 17.5 0 17.7812 0 18.125C0 18.4688 0.279531 18.75 0.625 18.75H14.375C14.7205 18.75 15 18.4705 15 18.125C15 17.7795 14.7188 17.5 14.375 17.5Z" fill="white"/>
          