mixin svg-support()
  svg(width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
    <path d="M18 0C8.0748 0 0 8.0748 0 18V25.4574C0 27.3006 1.6146 28.8 3.6 28.8H5.4C5.87739 28.8 6.33523 28.6104 6.67279 28.2728C7.01036 27.9352 7.2 27.4774 7.2 27V17.7426C7.2 17.2652 7.01036 16.8074 6.67279 16.4698C6.33523 16.1322 5.87739 15.9426 5.4 15.9426H3.7656C4.7664 8.9766 10.7604 3.6 18 3.6C25.2396 3.6 31.2336 8.9766 32.2344 15.9426H30.6C30.1226 15.9426 29.6648 16.1322 29.3272 16.4698C28.9896 16.8074 28.8 17.2652 28.8 17.7426V28.8C28.8 30.7854 27.1854 32.4 25.2 32.4H21.6V30.6H14.4V36H25.2C29.1708 36 32.4 32.7708 32.4 28.8C34.3854 28.8 36 27.3006 36 25.4574V18C36 8.0748 27.9252 0 18 0Z" fill="white"/>
          