include /shared/mixins/svg/circle-check

section.xo-calc__case-criteria
  h4.xo-text__20-600 Проверка критериев  статической и динамической остойчивости / Static and dynamic stability criteria checking
  .xo-calc__case-criteria-wrapper
    .case-criteria1
      span.xo-text__20-500 Критерии остойчивости / Stability criteria
    .case-criteria2
      span.xo-text__20-500 Значения / Values
    .case-criteria3
      span.xo-text__20-500 расчётное
      span.xo-text__20-500 design
    .case-criteria4
      span.xo-text__20-500 допустимое
      span.xo-text__20-500 permissible
    .case-criteria5
      span.xo-text__20-500 Примечание
      span.xo-text__20-500 Note
    .case-criteria6
      span.xo-text__20-500 Параметры диаграммы статической остойчивости
      span.xo-text__20-500 Static stability curve characteristics
    .case-criteria7
      span.xo-text__20-500 Максимальное плечо, м
      span.xo-text__20-500 Maximum righting lever, m
    .case-criteria8
      span.xo-text__20-500 Угол максимума,°
      span.xo-text__20-500 Angle of maximum, °
    .case-criteria9
      span.xo-text__20-500 Угол заката,°
      span.xo-text__20-500 Angle ofvanishing stability, °
    .case-criteria10
      span.xo-text__20-500 Площадь диаграммы статической остойчивости
      span.xo-text__20-500 Area of static stability curve
    .case-criteria11
      span.xo-text__20-500 в диапазоне углов 0…30°, м*рад
      span.xo-text__20-500 в диапазоне углов 0…30°, м*рад
    .case-criteria12
      span.xo-text__20-500 в диапазоне углов 0…40°, м*рад
      span.xo-text__20-500 in the range of angles 0…40°, m*rad
    .case-criteria13
      span.xo-text__20-500 в диапазоне углов 30…40°, м*рад
      span.xo-text__20-500 in the range of angles 30…40°, m*rad
    .case-criteria14
      span.xo-text__20-500 Угол заливания,° / Angle of flooding, °
    .case-criteria15
      span.xo-text__20-500 Критерий ускорения / Acceleration criterion
    .case-criteria16
      span.xo-text__20-500 Угол крена на циркуляции / Angle of heel on steady turning, °
    .case-criteria17
      span.xo-text__20-500 Исправленная метацентрическая высота, м / Corrected metacentric height, m
    .case-criteria18
      span.xo-text__20-500 lmax
      span.xo-text__20-500 GZmax
    .case-criteria19
      span.xo-text__20-500 θm
    .case-criteria20
      span.xo-text__20-500 θv
    .case-criteria21
      span.xo-text__20-500 F(0...30)
    .case-criteria22
      span.xo-text__20-500 F(0...40)
    .case-criteria23
      span.xo-text__20-500 F(30...40)
    .case-criteria24
      span.xo-text__20-500 θf
    .case-criteria25
      span.xo-text__20-500 θf
    .case-criteria26
      span.xo-text__20-500 θst
    .case-criteria27
      span.xo-text__20-500 h / GM
    .case-criteria28
      span.xo-text__20-500 0.20
    .case-criteria29
      span.xo-text__20-500 40
    .case-criteria30
      span.xo-text__20-500 71
    .case-criteria31
      span.xo-text__20-500 0.188
    .case-criteria32
      span.xo-text__20-500 0.318
    .case-criteria33
      span.xo-text__20-500 0.130
    .case-criteria34
      span.xo-text__20-500 55.00
    .case-criteria35
      span.xo-text__20-500 ------
    .case-criteria36
      span.xo-text__20-500 ------
    .case-criteria37
      span.xo-text__20-500 1.37
    .case-criteria38
      span.xo-text__20-500 0.80
    .case-criteria39
      span.xo-text__20-500 30
    .case-criteria40
      span.xo-text__20-500 ------
    .case-criteria41
      span.xo-text__20-500 0.055
    .case-criteria42
      span.xo-text__20-500 0.090
    .case-criteria43
      span.xo-text__20-500 0.030
    .case-criteria44
      span.xo-text__20-500 50.00
    .case-criteria45
      span.xo-text__20-500 1.00
    .case-criteria46
      span.xo-text__20-500 ------
    .case-criteria47
      span.xo-text__20-500 ------
    .case-criteria48
      span
        +svg-circle-check
    .case-criteria49
      span
        +svg-circle-check
    .case-criteria50
      span.xo-text__20-500 ------
    .case-criteria51
      span
        +svg-circle-check
    .case-criteria52
      span
        +svg-circle-check
    .case-criteria53
      span
        +svg-circle-check
    .case-criteria54
      span
        +svg-circle-check
    .case-criteria55
      span
        +svg-circle-check
    .case-criteria56
      span
        +svg-circle-check
    .case-criteria57
      span.xo-text__20-500
        +svg-circle-check
    .case-criteria58
      div
        span
          +svg-circle-check
        span.xo-text__20-500 Остойчивость
