include /shared/mixins/svg/circle-check

section.xo-calc__case-damage
  h4.xo-text__20-600 Аварийная остойчивость / Damage stability
  .xo-calc__case-damage-wrapper
    .case-damage1
      span.xo-text__20-500 Предельная аппликата в случае поврежденного судна, м
      span.xo-text__20-500 Permissible CG applicate (damaged) KGdp, m
    .case-damage2
      span.xo-text__20-500 Резерв остойчивости в случае поврежденного судна
      span.xo-text__20-500 Stability reserve (damaged), m
    .case-damage3
      span.xo-text__20-500 Zgaдоп
      span.xo-text__20-500 KGdp
    .case-damage4
      span.xo-text__20-500 8.96
    .case-damage5
      span.xo-text__20-500 0.92
    .case-damage6
      div
        span
          +svg-circle-check
        span.xo-text__20-500 Аварийная остойчивость
