include /shared/mixins/svg/circle-check

section.xo-calc__case-grain
  h4.xo-text__20-600 Проверка критериев остойчивости при перевозке зерна / Stability criteria checking for grain transportation
  .xo-calc__case-grain-wrapper
    .case-grain1
      span.xo-text__20-500 Критерии остойчивости для зернового груза / Grain stability criteria
    .case-grain2
      span.xo-text__20-500 Значения / Values
    .case-grain3
      div
        span.xo-text__20-500 расчётное
        span.xo-text__20-500 design
    .case-grain4
      div
        span.xo-text__20-500 допустимое
        span.xo-text__20-500 permissible
    .case-grain5
      div
        span.xo-text__20-500 Примечание
        span.xo-text__20-500 Note
    .case-grain6
      span.xo-text__20-500 Момент от смещения зерна, тм / Heeling moment due to grain shifting, tm
    .case-grain7
      span.xo-text__20-500 Плечо от смещения зерна , м / Heeling lever due to graing shifting, m
    .case-grain8
      span.xo-text__20-500 Плечо от смещения зерна при 40° , м / Heeling lever due to graing shifting at 40°, m
    .case-grain9
      span.xo-text__20-500 Угол крена от смещения зерна,° / Heeling angle due to graing shifting, °
    .case-grain10
      div
        span.xo-text__20-500 Площадь диаграммы статической остойчивости
        span.xo-text__20-500 Area of static stability curve
    .case-grain11
      span.xo-text__20-500 Заглубление винта
    .case-grain12
      div
        span.xo-text__20-500 Остаточная динамическая остойчивость, м*рад
        span.xo-text__20-500 Residual dynamic stability, m*rad
    .case-grain13
      span.xo-text__20-500 Propeller immersion
    .case-grain14
      span.xo-text__20-500 M#[sub(style= {'font-size': '12px'}) GR]
    .case-grain15
      span.xo-text__20-500 ʎ#[sub(style= {'font-size': '12px'}) 0]
    .case-grain16
      span.xo-text__20-500 ʎ#[sup(style= {'font-size': '12px', 'vertical-align': 'top'}) 40]
    .case-grain17
      span.xo-text__20-500 θ#[sub(style= {'font-size': '12px'}) GR]
    .case-grain18
      span.xo-text__20-500 FGR
    .case-grain19
      span.xo-text__20-500 dк,м
    .case-grain20
      span.xo-text__20-500 %
    .case-grain21
      span.xo-text__20-500 1 509
    .case-grain22
      span.xo-text__20-500 0.081
    .case-grain23
      span.xo-text__20-500 0.065
    .case-grain24
      span.xo-text__20-500 3.000
    .case-grain25
      span.xo-text__20-500 0.271
    .case-grain26
      span.xo-text__20-500 8.810
    .case-grain27
      span.xo-text__20-500 118%
    .case-grain28
      span.xo-text__20-500 5 862
    .case-grain29
      span.xo-text__20-500 0.292
    .case-grain30
      span.xo-text__20-500 ------
    .case-grain31
      span.xo-text__20-500 12.000
    .case-grain32
      span.xo-text__20-500 0.075
    .case-grain33
      span.xo-text__20-500 ------
    .case-grain34
      span.xo-text__20-500 ------
    .case-grain35
      span
        +svg-circle-check
    .case-grain36
      span
        +svg-circle-check
    .case-grain37
      span.xo-text__20-500 ------
    .case-grain38
      span
        +svg-circle-check
    .case-grain39
      span
        +svg-circle-check
    .case-grain40
      span.xo-text__20-500 ------
    .case-grain41
      span.xo-text__20-500 ------
    .case-grain42
      div
        span
          +svg-circle-check
        span.xo-text__20-500 Остойчивость
