include /shared/mixins/svg/circle-check

section.xo-calc__case-intact
  h4.xo-text__20-600 Остойчивость неповрежденного судна / Intact stability
  .xo-calc__case-intact-wrapper
    .case-intact1
      span.xo-text__20-500 Аппликата ЦТ судна без поправки на свободную поверхность, м
      span.xo-text__20-500 Applicate of the ship's CG without free surface correction KGo,m
    .case-intact2
      span.xo-text__20-500 Поправка на свободную поверхность, м
      span.xo-text__20-500 Free surface correction, m
    .case-intact3
      span.xo-text__20-500 Исправленная аппликата ЦТ судна Zgи, м
      span.xo-text__20-500 Corrected applicate of the ship's CG KG, m
    .case-intact4
      span.xo-text__20-500 Предельная аппликата в случае неповрежденного судна, м
      span.xo-text__20-500 Permissible CG applicate (intact), m
    .case-intact5
      span.xo-text__20-500 Запас остойчивости в случае неповрежденного судна
      span.xo-text__20-500 Stability reserve (intact), m
    .case-intact6
      span.xo-text__20-500 Zg0
      span.xo-text__20-500 KGo
    .case-intact7
      span.xo-text__20-500 δh = Σδmh/Δ
      span.xo-text__20-500 δGM = ΣδmGM/Δ
    .case-intact8
      span.xo-text__20-500 Zgи = Zg + dZg
      span.xo-text__20-500 KG = KG0 + dKG
    .case-intact9
      span.xo-text__20-500 Zgдоп
      span.xo-text__20-500 KGp
    .case-intact10
      span.xo-text__20-500 7.92
    .case-intact11
      span.xo-text__20-500 0.10
    .case-intact12
      span.xo-text__20-500 8.02
    .case-intact13
      span.xo-text__20-500 8.96
    .case-intact14
      span.xo-text__20-500 0.94
    .case-intact15
      div
        span
          +svg-circle-check
        span.xo-text__20-500 Остойчивость
