include /shared/mixins/svg/circle-check

section.xo-calc__case-loads
  h4.xo-text__20-600 Нагрузка на конструкции судна / Load on ship's construction
  .xo-calc__case-loads-wrapper
    .case-loads1
      span.xo-text__20-600 Грузовые помещения
      span.xo-text__20-600 Cargo spaces
    .case-loads2
      div
        span.xo-text__20-600 Масса, т
        span.xo-text__20-600 Mass, t
    .case-loads3
      div
        span.xo-text__20-600 Расчетная нагрузка, т/м2
        span.xo-text__20-600 Design load, t/m2
    .case-loads4
      div
        span.xo-text__20-600 Допустимые значения, т/м2
        span.xo-text__20-600 Permissible values, t/m2
    .case-loads5
      span.xo-text__20-500 %
    .case-loads6
      div
        span.xo-text__20-600 Примечание
        span.xo-text__20-600 Note
    .case-loads7
      div
        span.xo-text__20-500 Двойное дно
        span.xo-text__20-500 Double bottom
    .case-loads8
      div
        span.xo-text__20-500 Грузовой трюм №1
        span.xo-text__20-500 №1 Cargo Hold
    .case-loads9
      div
        span.xo-text__20-500 Грузовой трюм №2
        span.xo-text__20-500 №2 Cargo Hold
    .case-loads10
      div
        span.xo-text__20-500 Грузовой трюм №3
        span.xo-text__20-500 №3 Cargo Hold
    .case-loads11
      div
        span.xo-text__20-500 Крышки люков
        span.xo-text__20-500 Hatch covers
    .case-loads12
      div
        span.xo-text__20-500 Крышка люка №1
        span.xo-text__20-500 Крышка люка №1
    .case-loads13
      div
        span.xo-text__20-500 Палуба юта
        span.xo-text__20-500 Poop deck
    .case-loads14
      div
        span.xo-text__20-500 Палуба бака
        span.xo-text__20-500 Forecastle deck
    .case-loads15
      div
        span.xo-text__20-500 Нагрузка на контейнерное место
        span.xo-text__20-500 Hatch covers
    .case-loads16
      div
        span.xo-text__20-500 Ряд №
        span.xo-text__20-500 Bay №
        span.xo-text__20-500 Штабель
        span.xo-text__20-500 Row
    .case-loads17
      span.xo-text__20-500 №_
    .case-loads18
      span.xo-text__20-500 2 136.87
    .case-loads19
      span.xo-text__20-500 7 430.61
    .case-loads20
      span.xo-text__20-500 540.00
    .case-loads21
      span.xo-text__20-500 ------
    .case-loads22
      span.xo-text__20-500 ------
    .case-loads23
      span.xo-text__20-500 ------
    .case-loads24
      span.xo-text__20-500 -
    .case-loads25
      span.xo-text__20-500 -
    .case-loads26
      span.xo-text__20-500 6.50
    .case-loads27
      span.xo-text__20-500 8.01
    .case-loads28
      span.xo-text__20-500 2.27
    .case-loads29
      span.xo-text__20-500 ------
    .case-loads30
      span.xo-text__20-500 ------
    .case-loads31
      span.xo-text__20-500 ------
    .case-loads32
      span.xo-text__20-500 -
    .case-loads33
      span.xo-text__20-500 -
    .case-loads34
      span.xo-text__20-500 18.00
    .case-loads35
      span.xo-text__20-500 18.00
    .case-loads36
      span.xo-text__20-500 18.00
    .case-loads37
      span.xo-text__20-500 ------
    .case-loads38
      span.xo-text__20-500 ------
    .case-loads39
      span.xo-text__20-500 ------
    .case-loads40
      span.xo-text__20-500 -
    .case-loads41
      span.xo-text__20-500 -
    .case-loads42
      span.xo-text__20-500 36%
    .case-loads43
      span.xo-text__20-500 45%
    .case-loads44
      span.xo-text__20-500 13%
    .case-loads45
      span.xo-text__20-500 ------
    .case-loads46
      span.xo-text__20-500 ------
    .case-loads47
      span.xo-text__20-500 ------
    .case-loads48
      span.xo-text__20-500 -
    .case-loads49
      span.xo-text__20-500 -
    .case-loads50
      span
        +svg-circle-check
    .case-loads51
      span
        +svg-circle-check
    .case-loads52
      span
        +svg-circle-check
    .case-loads53
      span
        +svg-circle-check
    .case-loads54
      span
        +svg-circle-check
    .case-loads55
      span
        +svg-circle-check
    .case-loads56
      span
        +svg-circle-check
    .case-loads57
      span.xo-text__20-500 -
