include /shared/mixins/svg/circle-check
include /shared/mixins/ui/cbs

section.xo-calc__case-strength
  h4.xo-text__20-600 Общая прочность / General strength
  .xo-calc__case-strength-switch
    span.xo-text__20-500 В море / Seagoing
    +cb-double
    span.xo-text__20-500 В порту / In port
  .xo-calc__case-strength-wrapper
    .case-strength1
      div
        span.xo-text__20-600 Перерезывающие силы
        span.xo-text__20-600 Shear forces
    .case-strength2
      div
        span.xo-text__20-600 №
        span.xo-text__20-600 шп/Fr
    .case-strength3
      div
        span.xo-text__20-600 Х от КП, м
        span.xo-text__20-600 X from AP, m
    .case-strength4
      div
        span.xo-text__20-600 Расчетный, т
        span.xo-text__20-600 Design value, t
    .case-strength5
      div
        span.xo-text__20-600 Допустимые значения, т
        span.xo-text__20-600 Permissible values, t
    .case-strength6
      span.xo-text__20-500 %
    .case-strength7
      span.xo-text__20-500 40
    .case-strength8
      span.xo-text__20-500 148
    .case-strength9
      span.xo-text__20-500 27.00
    .case-strength10
      span.xo-text__20-500 27.00
    .case-strength11
      span.xo-text__20-500 1 028
    .case-strength12
      span.xo-text__20-500 -827
    .case-strength13
      span.xo-text__20-500 2 650
    .case-strength14
      span.xo-text__20-500 4 077
    .case-strength15
      span.xo-text__20-500 -2 548
    .case-strength16
      span.xo-text__20-500 -4 169
    .case-strength17
      span.xo-text__20-500 38.79%
    .case-strength18
      span.xo-text__20-500 19.82%
    .case-strength19
      div
        span.xo-text__20-600 Изгибающие моменты
        span.xo-text__20-600 Bending moments
    .case-strength20
      div
        span.xo-text__20-600 №
        span.xo-text__20-600 шп/Fr
    .case-strength21
      div
        span.xo-text__20-600 Х от КП, м
        span.xo-text__20-600 X from AP, m
    .case-strength22
      div
        span.xo-text__20-600 X from AP, m
        span.xo-text__20-600 Design value, tm
    .case-strength23
      div
        span.xo-text__20-600 Допустимые значения, тм
        span.xo-text__20-600 Permissible values, tm
    .case-strength24
      span.xo-text__20-500 %
    .case-strength25
      span.xo-text__20-500 40
    .case-strength26
      span.xo-text__20-500 27.00
    .case-strength27
      span.xo-text__20-500 22 732
    .case-strength28
      span.xo-text__20-500 23 955
    .case-strength29
      span.xo-text__20-500 -10 000
    .case-strength30
      span.xo-text__20-500 94.89%
    .case-strength31
      div
        span
          +svg-circle-check
        span.xo-text__20-500 Прочность
