.xo-calc__estimation-table-rows
  .xo-calc__estimation-table-td
    span(style= 'width: 17px; height: 19px;')
      +svg-settings-sm
    span.xo-text__18-400 Цистерна ДТ №1 ЛБ / NO.1 F.O.T.(P)
  .xo-calc__estimation-table-td
    +simple_input('11', '240')
  .xo-calc__estimation-table-td
    +simple_select(options, '290')
  .xo-calc__estimation-table-td
    +cb-tripple
