section.xo-calc__case-trim-calc
  h4.xo-text__20-600 Расчет посадки / Trim calculation
  .xo-calc__case-trim-calc-wrapper
    .case-trim-calc1
      span.xo-text__20-500 На перпендикулярах, м
      span.xo-text__20-500 In way of perpendiculars, m
    .case-trim-calc2
      span.xo-text__20-500 На марках углубления, м
      span.xo-text__20-500 On draft marks, m
    .case-trim-calc3
      .xo-calc__case-trim-calc-fb
        div
          span.xo-text__20-500 Расчетная осадка, м
          span.xo-text__20-500 Equivalent draft, m
        span.xo-text__20-500 d
    .case-trim-calc4
      .xo-calc__case-trim-calc-fb
        div
          span.xo-text__20-500 Осадка на миделе, м
          span.xo-text__20-500 Draft amidships, m
        span.xo-text__20-500 d
    .case-trim-calc5
      span.xo-text__20-500 8.62
    .case-trim-calc6
      span.xo-text__20-500 8.59
    .case-trim-calc7
      .xo-calc__case-trim-calc-fb
        span.xo-text__20-500 осадка носом
        span.xo-text__20-500 dh
      .xo-calc__case-trim-calc-fb
        span.xo-text__20-500 forward draft
        span.xo-text__20-500 df
    .case-trim-calc8
      .xo-calc__case-trim-calc-fb
        span.xo-text__20-500 осадка кормой
        span.xo-text__20-500 dk
      .xo-calc__case-trim-calc-fb
        span.xo-text__20-500 after draft
        span.xo-text__20-500 da
    .case-trim-calc9
      span.xo-text__20-500 8.39
    .case-trim-calc10
      span.xo-text__20-500 8.81
    .case-trim-calc11
      .xo-calc__case-trim-calc-fb
        span.xo-text__20-500 на носовой марке
        span.xo-text__20-500 dhm
      .xo-calc__case-trim-calc-fb
        span.xo-text__20-500 on forward draft mark
        span.xo-text__20-500 dfm
    .case-trim-calc12
      .xo-calc__case-trim-calc-fb
        span.xo-text__20-500 на кормовой марке
        span.xo-text__20-500 dkm
      .xo-calc__case-trim-calc-fb
        span.xo-text__20-500 on after draft mark
        span.xo-text__20-500 dam
    .case-trim-calc13
      span.xo-text__20-500 8.38
    .case-trim-calc14
      span.xo-text__20-500 8.79
    .case-trim-calc15
      span.xo-text__20-500 Дифферент / Trim
    .case-trim-calc16
      span.xo-text__20-500 δd = dн - dк, м
      span.xo-text__20-500 δd = df - da, m
    .case-trim-calc17
      span.xo-text__20-500 δd = dнм - dкм, м
      span.xo-text__20-500 δd = dнм - dкм, м
    .case-trim-calc18
      span.xo-text__20-500 -0.44
    .case-trim-calc19
      span.xo-text__20-500 -0.41
