include /shared/mixins/svg/circle-check

section.xo-calc__case-weather
  h4.xo-text__20-600 Критерий погоды / Weather criterion
  .xo-calc__case-weather-wrapper
    .case-weather1
      span.xo-text__20-500 Наименование / Name
    .case-weather2
      span.xo-text__20-500 Значения / Values
    .case-weather3
      div
        span.xo-text__20-500 расчётное
        span.xo-text__20-500 design
    .case-weather4
      div
        span.xo-text__20-500 допустимое
        span.xo-text__20-500 permissible
    .case-weather5
      div
        span.xo-text__20-500 Примечание
        span.xo-text__20-500 Note
    .case-weather6
      div
        span.xo-text__20-500 Критерий погоды
        span.xo-text__20-500 Weather criterion
    .case-weather7
      div
        span.xo-text__20-500 Статический крен от действия ветра, °
        span.xo-text__20-500 The static angle under action of steady wind, °
    .case-weather8
      div
        span.xo-text__20-500 Площадь, м*рад
        span.xo-text__20-500 Area, m*rad
    .case-weather9
      span.xo-text__20-500 K
    .case-weather10
      span.xo-text__20-500 θ#[sub(style={'font-size': '12px'}) w1]
    .case-weather11
      span.xo-text__20-500 a
    .case-weather12
      span.xo-text__20-500 b
    .case-weather13
      span.xo-text__20-500 2.000
    .case-weather14
      span.xo-text__20-500 2.000
    .case-weather15
      span.xo-text__20-500 1.0001
    .case-weather16
      span.xo-text__20-500 2.0002
    .case-weather17
      span.xo-text__20-500 1.000
    .case-weather18
      span.xo-text__20-500 16.000
    .case-weather19
      span.xo-text__20-500 b > a
    .case-weather20
      span
        +svg-circle-check
    .case-weather21
      span
        +svg-circle-check
    .case-weather22
      span
        +svg-circle-check
    .case-weather23
      div
        span
          +svg-circle-check
        span.xo-text__20-500 Аварийная остойчивость
