mixin breadcrumbs(links, cls)
  - var attributes = {};
  - attributes.class = cls
  ol(class= 'xo-breadcrumbs__header')&attributes(attributes)
    each link in links
      - var {path, caption} = link;
      if path
        li
          a(href=path) #{caption}
      else
        li
          | #{caption}
