mixin cb-double
  input(type='checkbox' id='xo-cb-double' style='display:none' checked)
  label.xo-cb__double(for="xo-cb-double")
    span

mixin cb-tripple
  .xo-cb__tripple
    input.xo-cb__tripple-off(id="xo-cb-triple-off" type="radio" checked name='xo')
    label.xo-cb__tripple-lb.xo-cb__tripple-lb-off(for='xo-cb-triple-off') нет

    input.xo-cb__tripple-level(id="xo-cb-triple-level" type="radio" name='xo')
    label.xo-cb__tripple-lb.xo-cb__tripple-lb-level(for='xo-cb-triple-level') по уровню

    input.xo-cb__tripple-max(id="xo-cb-triple-max" type="radio" name='xo')
    label.xo-cb__tripple-lb.xo-cb__tripple-lb-max(for='xo-cb-triple-max') max

    .xo-cb__tripple-slider

    span
    span
    span
