mixin collapse(placeholder, cls= 'xo-text__18-700', width)
  details.xo-collapse(open)
    summary(class= 'xo-collapse__summary' style= width ? `width: ${width}px;` : "width: 100%;")
      span(class= cls)= placeholder
    block
