include /shared/mixins/svg/arrow-left
mixin link-back(path= '*', cls)
  - var attrs = {};
  - attrs.class = cls;
  a(class= 'xo-link__back' href= path)&attributes(attrs)
    span
      +svg-arrow-left
    span
      block
