mixin steps(steps = [], cls)
  - var attrs = {};
  - attrs.class = cls;
  div(class= 'xo-steps')&attributes(attrs)
    ul
      each step,index in steps
        - var {caption, cls} = step;
        if cls
          li(class= cls)
            span #{index + 1}
            span= caption
        else
          li
            span #{index + 1}
            span= caption
      li(class= 'inactive')
        span
          | &#10003;
