mixin steps(steps = [])
  .xo-steps
    ul
      each step,index in steps
        - var {caption, cls} = step;
        if cls
          li(class= cls)
            span #{index + 1}
            span= caption
        else
          li
            span #{index + 1}
            span= caption
      if steps.at(-1).cls === 'active'
        li(class= cls)
          span
            | &#10003;
      else
        li(class= 'inactive')
          span
            | &#10003;
